.Navbutton{
	background-color:transparent;
	border:none;
}

body{
	
	min-height:100vh;
	
}


.footer {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: gray;
  	color: white;
  	text-align: center;
}



.Navbutton:hover{
	
	color:grey;
		
	
}


.animation {
		margin: 0 auto;
        height:40vh;
        width:80%;
        background-color: red;
        animation-name: graphic;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        background-size: cover;
        background-repeat: no-repeat;
        
}


@keyframes graphic {
	0%   {background-image: url("pic/home1.jpg")}
	25%  {background-image: url("pic/home2.jpg")}
	50%  {background-image: url("pic/home3.jpg")}
	75%  {background-image: url("pic/home1.jpg")}
	100% {background-image: url("pic/home2.jpg")}
}

.contactform{
		margin:0 auto;
		width:18rem;
	
}